
.overviewcontents {
    margin-bottom: 40px;
}
.overviewcontents > .main_end > .main_image > img{

    object-fit: contain;
    
    height: 160px;
    border-radius: 4% ;
    overflow: hidden;
    width:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
.overviewcontents > .main_end{
    font-size: 16px;
    font-family: 'Raleway';
    display: flex;
    margin-top: 5px;
    padding:10px;

    
}

.overviewcontents > .main_end > .main_image {
    display: flex;
    
    justify-content: center;
}

.overviewcontents > .main_end > .main_title {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.overviewcontents > .main_end > .main_title >.title{
    font-size: 21px;
    margin-top:40px;
    font-weight:700;
    text-align: center;
    color:black;
    margin-bottom:15px;
    font-family: 'Raleway';
    padding:10px;

    
    }
    .overviewcontents > .main_end > .main_title > p {
        font-weight: 400;
        font-size: 16px;
        letter-spacing:normal;
        text-align: left;
        color: #404040;

    }
    .overviewcontents > .main_end > .main_title > .melbourne {
        font-family: 'Raleway', sans-serif;
        font-weight:700;
        color:#064e81;
    }
p{
    font-family: 'Raleway';
    font-size: 13px;
    line-break:initial;
    letter-spacing: 0.5px;
    margin-bottom:10px;
    line-height: 1.4;
    align-content: flex-start;
}
.second_title{
    font-family: 'Raleway';
    font-weight: bold;
    margin-bottom:10px;
    margin-top: 25px;
    color:#064e81;
    text-align: left;
}
ul{
    padding-left:20px;
    margin-bottom: 10px;

}
ul li{
    font-family: 'Raleway';
    line-height: 1.4;
    font-size: 15px;
}

.overviewcontents > .main_end > .main_title > button{
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 3px;
    background-color:#48a2e0;
    color:white;
    font-size:14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;

}