.book { 
    position:fixed;
    top:0;
    text-align: center;
    z-index: 999;
    height:100vh;
    width:100%;
}


.book_title{
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Raleway';
}
.book_contents {
  margin-top:100px;
  margin-right: 10px;
  margin-left:10px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.book_input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding-left: 20px;
    margin-top: 50px;
    width:295px;
  

}
ul{
  list-style: none;
  display: flex;
  margin-top: 5px;
}
.logo_container{
  width: 10%;
  font-size: 1.2rem;
  text-align:center;
  margin-right:15px;
  
 
}
.title_container{
  margin-top: 4px;
}
.title_container p{
  padding-left: 40px;
  font-weight: bold;
  font-size: 0.8rem;
}
.service_one {
  display: flex;
  flex-direction: column;
  padding-right:82px;

  
  cursor: pointer;
       }

.service_one:hover{
  background-color:#a8cfdb;
  opacity: 0.9;
}

.services_main{
  border: 1px solid black;
  border-radius: 0.3rem;
  border-top: none;
  padding: 10px 1px 10px 1px;
  

}

.services_options{
  display:flex;
  transition-timing-function: ease-in;
  animation: myfirst 5s 2;
  animation-direction: reverse;

}
  
  @keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
  }
input{
    padding: 10px;
    border:none;
   width:100%;
   
  text-align: left;
}

.input.placeholder{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size:2rem;
}
.logo_input{
    font-size: 1.6rem;
    text-align: center;
    
    padding-top:5px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-size: 0.9rem;
    font-family: 'Raleway';
    text-align:center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    font-size: 0.9rem;
    font-family: 'Raleway';
    text-align:center;
    
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: black;
    font-size: 2rem;
    font-family: 'Raleway';
    text-align:center;  }
  :-moz-placeholder { /* Firefox 18- */
    color: black;
    font-size: 2rem;
    font-family: 'Raleway';
    text-align:center;  }

  *:focus {
    outline: none;
}

