.home {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.homepage_main{
    margin-bottom: 10px;
    font-size: 1.5rem;
    background-color: grey;
    
    
}
.homepage_values{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.value{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 25px;
    
}
.value_logo{
    background-image:url('../../Assets/17485654861584409101-128.png');
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    
}
.value_title{
    font-size: 1.5rem;
    color: #057ec0;
}

.value_description{
    font-size: 1rem;
    color:#057ec0;
}

