.friendly { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight:400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.friendly__lists { 
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
    margin-bottom: 15px;
    

}
.friendly__list {
    display: flex;
    
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;

    
}

.friendly__list > p {
    font-size: 16px;
}
.friendly > h3 { 
    color: black;
    font-weight: bolder;
}
.button { 
    width: 190px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    background-color: #48a2df;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor:pointer;
    
}