.faq{
    font-size: 20px;
    width:100%;
    color: #064e81;
    font-family: 'PT Sans', sans-serif;
    align-items: center;
    margin-bottom: 40px;
    margin-top:20px;

}
.faq p{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.faqs{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
    padding-left: 60px;
    
    
    
    
}

.faq_one{
    width: 500px;
    margin-right: 25px;
    margin-bottom:-40px;
}

.faq_question{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color:#057ec0;
    

}
.faq_answer{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    color: black;
    line-height: 26px;
}
.downarrow_icon{
    width: 100%;
    padding-right:100px;
    display: flex;
    justify-content:center;
    font-size: large;
    align-items: center;
    display: none;
    cursor: pointer;
    padding-top: 20px;

 }
 .downarrow_icon p{
     font-size: 0.9rem;
     font-family: 'Raleway';
     margin-right: 5px;
 }

 .downarrow_icon .ArrowDropDownCircleIcon{
    background-color: pink;
 }

@media screen and (max-width: 768px) {
    .faq{
        width:100%;
    }
   .mobile_faqs{
       display: none;
   }
   .faq_one{
       display: none;
   }
   .faq_one:first-child{
       display: block;
   }
   .downarrow_icon{
        display: inline-flex;
   }
}

@media screen and (max-width: 400px) {
   
   
}